<h1 id="title">Plantiful</h1>
<h1 id="smallTitle">A site to access nutritional information</h1>
<hr width=50%>
<br><br><br><br><br><br><br><br><br><br>
<h2 class="black">Explore your food!</h2>
<h4 class="green">We believe that knowledge is power and that it is essential</h4>
<h4 class="green">to understand what you are putting into your body and how to create balance.</h4>
<h4 class="green"><a (click)="login()" style="color: #9e773a">Log in</a> to search your food's nutritional information and benefits.</h4>
<h4 class="green">Find a plant, Add a plant, know what you are consuming.</h4>
